<!-- <div class="container">
    
    
    <div class="medisup-container">
        <h2>What is Medigap?</h2>
        <p>Medigap, also known as Medicare Supplement Insurance, is a private health insurance policy that individuals purchase to cover costs not covered by Original Medicare. This includes expenses like deductibles, coinsurance, and copayments.</p>
        
        <h2>Key Details</h2>
        <ul>
            <li><strong>Secondary Coverage:</strong> Medigap is always secondary to Medicare, meaning it only pays after Medicare has paid its share. It helps bridge the gap between what Original Medicare covers and the remaining out-of-pocket costs.</li>
            <li><strong>Private Insurers:</strong> These policies are provided by private insurance companies, and individuals must pay a monthly premium in addition to their Medicare Part B premium.</li>
            <li><strong>Eligibility:</strong> Medigap is available only to those who are enrolled in both Medicare Part A (hospital insurance) and Medicare Part B (medical insurance). It is not an option for individuals enrolled in a Medicare Advantage Plan.</li>
            <li><strong>Individual Coverage:</strong> A Medigap policy covers only one person. If a spouse or dependent also needs coverage, a separate Medigap policy must be purchased for each person.</li>
            <li><strong>Limitations:</strong> Medigap policies do not cover long-term care, vision, dental care, hearing aids, eyeglasses, or private nursing. It strictly supplements Medicare’s coverage and does not offer comprehensive coverage for other health services.</li>
            <li><strong>Standardization:</strong> Medigap policies are standardized in most states, meaning that the benefits are consistent across different insurance companies for the same type of plan (e.g., Plan G, Plan N). However, the cost may vary depending on the insurer and the individual's location.</li>
            <li><strong>Guaranteed Renewal:</strong> As long as you pay your premium, Medigap policies are guaranteed renewable, which means the insurance company cannot cancel your policy based on your health condition.</li>
            <li><strong>Enrollment Period:</strong> The best time to buy a Medigap policy is during the Medigap Open Enrollment Period, which lasts for six months and begins the first month you have Medicare Part B and are age 65 or older. During this period, you can buy any Medigap policy sold in your state, regardless of your health condition.</li>
        </ul>
        
    </div>    
    <table class="table table-hover">
        <caption>Medicare Supplement Plans Comparison</caption>
        <thead>
            <tr>
                <th>Benefits</th>
                <th>Plan A</th>
                <th>Plan B</th>
                <th>Plan C</th>
                <th>Plan D</th>
                <th>Plan F</th>
                <th>Plan G</th>
                <th>Plan K</th>
                <th>Plan L</th>
                <th>Plan M</th>
                <th>Plan N</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Part A Coinsurance & Hospital Costs</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part B Coinsurance or Copayment</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td class="hoverBox"> <span class="td-point"></span> Yes<span class="hoverDes">($20 copay for office visits, $50 for ER visits)</span> </td> 
            </tr>
            <tr>
                <td>First 3 Pints of Blood</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part A Hospice Care Coinsurance or Copayment</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Skilled Nursing Facility Care Coinsurance</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part A Deductible</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>50%</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part B Deductible</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Part B Excess Charges</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Foreign Travel Emergency (up to plan limits)</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Out-of-Pocket Limit</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>$6,940</td>
                <td>$3,470</td>
                <td>No</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>

</div> -->

<!-- /////////////////////////////////////////////////////////////////////////////////////// -->

<div class="container">
    <div class="medisup-container">
        <h2>What is Medigap?</h2>
        <p>Medigap, also known as Medicare Supplement Insurance, is a private health insurance policy that individuals purchase to cover costs not covered by Original Medicare. This includes expenses like deductibles, coinsurance, and copayments.</p>
        
        <h2>Key Details</h2>
        <ul>
            <li><strong>Secondary Coverage:</strong> Medigap is always secondary to Medicare, meaning it only pays after Medicare has paid its share. It helps bridge the gap between what Original Medicare covers and the remaining out-of-pocket costs.</li>
            <li><strong>Private Insurers:</strong> These policies are provided by private insurance companies, and individuals must pay a monthly premium in addition to their Medicare Part B premium.</li>
            <li><strong>Eligibility:</strong> Medigap is available only to those who are enrolled in both Medicare Part A (hospital insurance) and Medicare Part B (medical insurance). It is not an option for individuals enrolled in a Medicare Advantage Plan.</li>
            <li><strong>Individual Coverage:</strong> A Medigap policy covers only one person. If a spouse or dependent also needs coverage, a separate Medigap policy must be purchased for each person.</li>
            <li><strong>Limitations:</strong> Medigap policies do not cover long-term care, vision, dental care, hearing aids, eyeglasses, or private nursing. It strictly supplements Medicare’s coverage and does not offer comprehensive coverage for other health services.</li>
            <li><strong>Standardization:</strong> Medigap policies are standardized in most states, meaning that the benefits are consistent across different insurance companies for the same type of plan (e.g., Plan G, Plan N). However, the cost may vary depending on the insurer and the individual's location.</li>
            <li><strong>Guaranteed Renewal:</strong> As long as you pay your premium, Medigap policies are guaranteed renewable, which means the insurance company cannot cancel your policy based on your health condition.</li>
            <li><strong>Enrollment Period:</strong> The best time to buy a Medigap policy is during the Medigap Open Enrollment Period, which lasts for six months and begins the first month you have Medicare Part B and are age 65 or older. During this period, you can buy any Medigap policy sold in your state, regardless of your health condition.</li>
        </ul>
    </div>    
    <table class="table table-hover">
        <caption>Medicare Supplement Plans Comparison</caption>
        <thead>
            <tr>
                <th>Benefits</th>
                <th>Plan <br> A</th>
                <th>Plan <br> B</th>
                <th>Plan <br> C</th>
                <th>Plan <br> D</th>
                <th>Plan <br> F</th>
                <th>Plan <br> G</th>
                <th>Plan <br> K</th>
                <th>Plan <br> L</th>
                <th>Plan <br> M</th>
                <th>Plan <br> N</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Part A Coinsurance & Hospital Costs</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part B Coinsurance or Copayment</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td class="hoverBox"> <span class="td-point"></span> Yes<span class="hoverDes">($20 copay for office visits, $50 for ER visits)</span> </td> 
            </tr>
            <tr>
                <td>First 3 Pints of Blood</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part A Hospice Care Coinsurance or Copayment</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Skilled Nursing Facility Care Coinsurance</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part A Deductible</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>50%</td>
                <td>75%</td>
                <td>50%</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Part B Deductible</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Part B Excess Charges</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Foreign Travel Emergency (up to plan limits)</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Out-of-Pocket Limit</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>$6,940</td>
                <td>$3,470</td>
                <td>No</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</div>