<div class="container-fluid">   
<div class="main-container">
        <h6>Available Applications</h6>
        <hr>
        <div class="container">
        <div class="app-conatiner" routerLink="claims">
            <div class="container-box-cs">
                <div class="logo-cs">
                    <span>CS</span>
                </div>
                <p class="description-cs">Claim Status</p>
            </div>
            <!-- claims section end -->
    
            <div class="container-box-ev" routerLink="eligibility">
                <div class="logo-ev">
                    <span>EB</span>
                </div>
                <p class="description-ev">Eligibility and Benefits Inquiry</p>
            </div>
            <!-- eligibility section end -->
    
            <div class="container-box-ps" routerLink="payerspaces">
                <div class="logo-ps">
                    <span>PS</span>
                </div>
                <p class="description-ps">Payer Spaces</p>
            </div>
    
            <!-- payer spaces end -->
    
            <div class="container-box-rv" routerLink="remittanceviewer">
                <div class="logo-rv">
                    <span>RV</span>
                </div>
                <p class="description-rv">Remittance Viewer</p>
            </div>
    
            <!-- remittance viewer section end -->
        </div>
        </div>
    </div>
</div> 

