<!-- home.component.html -->

<div class="container">
<div class="homepage-container">
    <header class="header">
      <h1>Accounts Receivable Process in US Healthcare</h1>
    </header>
  <br>
  <section id="about" class="about">
      <h2>About</h2>
      <p>The website is created to help users learn and understand the Accounts Receivable (AR) process in US healthcare.</p>
      <ol>
        <li>How to resolve both generally and specialty-specific denials.</li>
        <li>What is Current Procedural Terminology.</li>
        <li>What is International Classification of Diseases.</li>
        <li>Description of Modifiers.</li>
        <li>Will understand Availity Essentials portal.</li>
      </ol>
      <p>We will discuss the topics mentioned above and many more.</p>
    </section>
  
    <section id="services" class="services">
      <div class="service" routerLink="/availity">
        <h3>Availity Essentials</h3>
        <p>Availity Essentials is a platform for secure information exchange between providers and payers.</p>
      </div>
      <div class="service" routerLink="/denials">
        <h3>Common reasons for denials</h3>
        <p>Brief understaning of common denials and how to resolved.</p>
      </div>
      <div class="service" routerLink="/claim-mailing">
        <h3>Insurance Phone#</h3>
        <p>Insurance/payer number list (all insurance)</p>
      </div>
      <div class="service" routerLink="/Medigap">
        <h3>Medicare Supplemental Plan (Medigap)</h3>
        <p>What is Medigap plan how it works and all plan information</p>
      </div>
      <div class="service" routerLink="/website">
        <h3>Website</h3>
        <p> Insurance website information of where we can check claims status and patient eligibility </p>
      </div>
      <div class="service" routerLink="/clearingHouse">
        <h3>Clearinghouses</h3>
        <p>Coming soon <p>
      </div>
      <div class="service" routerLink="/bcbs-prefix">
        <h3>BCBS Prefix</h3>
        <p>BCBS Prefix details<p>
      </div>
      
    </section>
  </div>
</div>